.service-container {
  background-color: rgb(212, 222, 212);
  margin-top: 50px;

  .service-head {
    width: 364px;
    margin-left: 37%;
    color: red;
    margin-top: 35px;
    border-bottom: 1px solid red;
  }

  .service-para {
    text-align: center;
    color: gray;
    width: 60%;
    margin-top: 25px;
    margin-left: 20%;
  }
}
