@mixin common {
  display: flex;
  justify-content: center;
  text-align: center;
}

$background-color: black;

.grand-parent-form-container {
  border: 1px solid black;
  background-color: $background-color;
  margin-top: 100px;

  .parent-form-heading {
    @include common();
    margin-top: 55px;

    .form-heading {
      font-size: 35px;
      font-weight: 50px;
      color: white;
      width: 13.2%;
      padding: 4px;
      border-bottom: 2px solid white;
    }
  }

  .parent-form-container {
    @include common();

    .form-container {
      border: 5px solid black;
      margin-top: 80px;
      width: 30%;
      text-align: center;
      padding: 30px;
      background-color: white;
      margin-bottom: 50px;

      .form-message {
        height: 75px;
      }

      input {
        margin-top: 20px;
        width: 350px;
        height: 45px;
        padding: 10px;
      }

      .form-button {
        background-color: $background-color;
        color: white;
        margin-top: 32px;
        width: 100px;
        padding: 5px;
      }
    }
  }
}
